.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

body{
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  }

div{
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


h1, h2, h3{
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}

a{
  text-decoration: none; 
}